div#content_navi_bar
	input#playerInput(type="text",style="width:300px")
	button#btnUpload upload
	button#btnPrv <-
	button#btnNxt ->
	input#pageInput(type="text",style="width:30px")
	label#totalPages
	button#btnZoomOut -
	button#btnZoomIn +
	button#btnFitWidth Fit Width
	button#viewChange V View
div#contentHolder
