.bb-custom-wrapper
	#bb-bookblock.bb-bookblock
		.bb-item
			include content-player
			.under-dev.text-muted
		.bb-item
			canvas#canvas-1
			.under-dev.text-muted
				h1 This is still on the anvil but will come soon ...
		.bb-item
			canvas#canvas-2
			.under-dev.text-muted
				h1 This is still on the anvil but will come soon ...
			
	nav
		a#bb-nav-first.bb-custom-icon.bb-custom-icon-first(href="#") First page
		a#bb-nav-prev.bb-custom-icon.bb-custom-icon-arrow-left(href="#") Previous
		a#bb-nav-next.bb-custom-icon.bb-custom-icon-arrow-right(href="#") Next
		a#bb-nav-last.bb-custom-icon.bb-custom-icon-last(href="#") Last page
