#widget-tabs.vc-widget.outer
	.row
		.col-md-12
			h5 Tabs Title here maybe
	.row
		div.menu-inner.tabs-menu-inner
		div.tab-inner
			ul.nav.nav-tabs(role="tablist")
				//li.active(role="presentation")
				//	a(href='#tab-0', aria-controls='tab-0', role='tab', data-toggle='tab') Whiteboard
				//li(role="presentation")
				//	a(href='#tab-1', aria-controls='tab-1', role='tab', data-toggle='tab') Whiteboard
				//li(role="presentation")
				//	a(href='#tab-2', aria-controls='tab-2', role='tab', data-toggle='tab') Whiteboard
			div.tab-content
				//div#tab-0.tab-pane.fade.in.active(role='tabpanel') CONTENT TAB 0
				//div#tab-1.tab-pane.fade(role='tabpanel') CONTENT TAB 1
				//div#tab-2.tab-pane.fade(role='tabpanel') CONTENT TAB 2


