#avcontrols.col-md-12.avcontrols
	ul.nav.navbar-nav
		li.dropdown(href="#")
			#avsettings.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-haspopup="true", aria-expanded="false") 
				span.btn.fa.fa-cog.fa-lg
					ul.dropdown-menu
						li
							a(href="#") Audio Settings
						li    
							a(href="#") Video Settings
						li    
							a(href="#") Volume Settings

		ul.nav.navbar-nav.navbar-left
			li
				#avwarn
					span.btn.fa.fa-exclamation-triangle.fa-lg

		ul.nav.navbar-nav.navbar-right
			li
				#avmin
					span.btn.fa.fa-minus-square.fa-lg
			li
				#avmax
				span.btn.fa.fa-arrows-alt.fa-lg

