#av-menu-outer.avpmenu
		#avmax.btn.btn-info.btn-sm.btn-round.btn-custom(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Maximize Survellience Mode. Test Only')
			span.fa.fa-arrows-alt.fa-lg
		#avmic-mute.btn.btn-info.btn-sm.btn-round.btn-custom(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Mute Microphone')
			span.fa.fa-microphone.fa-lg
		#avmic-unmute.btn.btn-info.btn-sm.btn-round.btn-custom(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Unmute Microphone')
			span.fa.fa-microphone-slash.fa-lg
		#avcamstop.btn.btn-info.btn-sm.btn-round.btn-custom(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Stop Video')
			span.fa.fa-video-camera.fa-lg
		#avcallstart.btn.btn-info.btn-sm.btn-round.btn-custom(href='#', data-toggle='tooltip', data-placement='top', data-original-title='Call')
			span.fa.fa-phone.fa-lg
		#avdisconnect.btn.btn-danger.btn-round.btn-sm.btn-custom(href='#', data-toggle='tooltip', data-placement='right', data-original-title='Disconnect')
			span.fa.fa-phone.fa-flip-vertical.fa-lg
