// This template isn't really used but shows the main structure
nav#menu-side
	ul
		li#li-home-1
			a#home-1(href="#") Home
			ul
				li#li-subhome-2
					a#subhome-2(href="#") Subhome
		li
			a(href="#") Something
		li
			a(href="#") Else
		li
			a(href="#") About
