#blanket(style="display:block; background-color:white; z-index:2000; position:fixed; left:0; top:0; width:100%; height:100%; color:#DDD; text-align:left; padding-left: 20%; padding-top:50px;")
	h2(style="all:initial; color:#DDD;") एक मिनट
	br
	p#progress
