.remodal(data-remodal-id="modal")
	button.remodal-close(data-remodal-action="close")
	span.level
	h1 default
	.remodal-content
		p default
	br
	button.remodal-cancel(data-remodal-action="cancel", style="display:none;") Cancel
	button.remodal-confirm(data-remodal-action="confirm", style="display:none;") Confirm
