#av-wrap
	#av-containers
		#av-container-1.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
		#av-container-2.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
		#av-container-3.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
		#av-container-4.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
		#av-container-5.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
		#av-container-6.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
		#av-container-7.av-container.av-shunya.tooltip
			include av-tooltip
			div.mic-indicator
				include images/microphone58-slashed.svg
	include avcontrols
include ssmodal.jade
