div(data-remodal-id='browser-extension-download')
	button.remodal-close(data-remodal-action='close')
	h3
		p Click on the download button below to get the Screenshare extension.
		p Please note that a page refresh is required after the extension is installed successfully.
	a(href='chromeSSExtPath' target='_blank' style='text-decoration:none;')
		button.remodal-confirm() Download
	button.remodal-cancel(data-remodal-action='cancel') Cancel
