html
  head
  body
    form
      h1 Delete entry from database
      div
        input(id='hostName',type='text',value='',placeholder='Host Name eg: chandra.me',name='hostName',size=80)
        br
        br
        input(id='authType',type='text',value='',placeholder='Authentication type eg: google',name='authType',size=80)
        br
        br
        input(id='submit',type='submit',value='Submit',data-transition='fade', data-theme='c')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='/auth/js/config_remove.js')

