html
  head
  body
    div
      h1 WizIQ Authentication for Virtual Classroom
      div
        input(id='userName',type='text',value='',placeholder='User Name',name='userName',size=80)
        br
        br
        input(id='password',type='password',value='',placeholder='Password',name='password',size=80)
        br
        br
        input(id='submit',type='submit',value='Submit',data-transition='fade', data-theme='c')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='/auth/js/wiziq_auth.js')


